@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }

body {
    background: -webkit-gradient(linear, left bottom, right top, color-stop(11%, #c86dd7), to(#3023ae));
    background: -webkit-linear-gradient(bottom left, #c86dd7 11%, #3023ae 100%);
    background: -o-linear-gradient(bottom left, #c86dd7 11%, #3023ae 100%);
    background: linear-gradient(to top right, #c86dd7 11%, #3023ae 100%);
    font-family: 'Lato', sans-serif;
    overflow: hidden;
        height: calc(100vw * 0.88 + 470px)
}


@media (max-width:470px) {




    .intro_section_box_items {
        width: 95%;
        height: 85%;
        position: fixed;
        padding:1em 2em;
        -webkit-transition: ease-in 1s;
        -o-transition: ease-in 1s;
        transition: ease-in 1s;
        display:-ms-grid;
        display:grid;

      }

      .intro_section_box_welcome {
          margin: auto;
      }

      .container {
    
        min-height: 100%;
            display: -ms-grid;
            display: grid;
                    grid-template-areas: "TOP" "CENTER"  "BOTTOM";
             -ms-grid-rows: calc(100vw * 1/3 ) calc(100vw * 1/3 ) calc(100vw * 1/3 ) ;
                grid-template-rows: calc(100vw * 0.12  ) calc(100vw * 1/3 ) calc(100vw * 1/3 ) ;
        
        }

        fieldset:first-child {
            border-bottom: 2px solid #cfcfcf;
            padding: 11px 0px;
            margin: 0px auto 20px auto;
            width: 100%;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            
        }
        
input[type="email"] {
    font-size: 18px;
    font-family: 'Lato', sans-serif;;
    color: rgb(207, 207, 207);
    line-height: 1.2;
    -moz-transform: scale(1.02, 1);
    -webkit-transform: scale(1.02, 1);
    -ms-transform: scale(1.02, 1);
    border:0;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    width: 80%;
  }
  fieldset {
      width: 100%;
  }

  button#contact-submit {
    width:100%;
    height: 50px;
    }

    

}

@media (min-width:470px) {
    

    .intro_section_box_items {
        width: 470px;
        height: 470px;
        padding: 48px;

      }

      .container {
    
        min-height: 100%;
            display: -ms-grid;
            display: grid;
                    grid-template-areas: "TOP" "CENTER"  "BOTTOM";
             -ms-grid-rows: calc(100vw * 1/3 ) calc(100vw * 1/3 ) calc(100vw * 1/3 ) ;
                grid-template-rows: calc(100vw * 0.12  ) calc(100vw * 1/3 ) calc(100vw * 1/3 ) ;
        
        }

        fieldset:first-child {
            border-bottom: 2px solid #cfcfcf;
            padding: 11px 0px;
            margin: 0px auto 20px auto;
            width: 370px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            
        }


        input[type="email"] {
            font-size: 18px;
            font-family: 'Lato', sans-serif;;
            color: rgb(207, 207, 207);
            line-height: 1.2;
            -moz-transform: scale(1.02, 1);
            -webkit-transform: scale(1.02, 1);
            -ms-transform: scale(1.02, 1);
            border:0;
            -webkit-box-shadow: 0;
                    box-shadow: 0;
            width: 320px;
          }

          button#contact-submit {
          width:380px;
          height: 50px;
          }
    }











.intro_section_box_wrapper {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: CENTER;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}



.intro_section_box_items {
    border-radius: 14px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 1px 40px 0px rgba(80, 0, 151, 0.56);
            box-shadow: 0px 1px 40px 0px rgba(80, 0, 151, 0.56);
    
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

  }



  

  .intro_section_box_welcome {
    padding-bottom: 30px;
}
 
  .intro_section_box_welcome p{
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    color: rgb(56, 56, 56);
    line-height: 1.2;
    -moz-transform: scale(1.02, 1);
    -webkit-transform: scale(1.02, 1);
    -ms-transform: scale(1.02, 1);
    text-align: center;
    font-weight: 300;

  }

  .intro_section_box_images {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-line-pack: center;
	    align-content: center;
    margin: auto;
    padding-bottom: 30px;
}

.intro-section_box_image1 {
	
	z-index: 1;
    height: 100%;
    
  
}
  

.intro-section_box_image2 {
	z-index: 2;
	margin-right: -50px;
	margin-left: -50px;
	height: 132px;
    margin-top: -20px;
    
    border-radius: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 0px;
}

.intro-section_box_image3 {
	margin-left: 0px;
	z-index: 1;
	height: 100%;
}



fieldset:first-child::before {
    content:url('email-icon.png');
    margin-right: 10px;
  }

fieldset {
    border:0px;
    padding: 0;
    margin:auto;
}


form#contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}




  input[type="email"]:focus {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: rgb(56, 56, 56);
    line-height: 1.2;
    -moz-transform: scale(1.02, 1);
    -webkit-transform: scale(1.02, 1);
    -ms-transform: scale(1.02, 1);
    border:0;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    outline: none;
  }
  
  ::placeholder {
    color: rgb(207, 207, 207);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(207, 207, 207);
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: rgb(207, 207, 207);
}
  

button#contact-submit {
    border-radius: 8px;
    background: -webkit-gradient(linear, left top, right top, from(rgb(181,100,210)), to(rgb(199,109,215)));
    background: -webkit-linear-gradient(left, rgb(181,100,210) 0%, rgb(199,109,215) 100%);
    background: -o-linear-gradient(left, rgb(181,100,210) 0%, rgb(199,109,215) 100%);
    background: linear-gradient(90deg, rgb(181,100,210) 0%, rgb(199,109,215) 100%);
 
    -webkit-box-shadow: 0px 4px 25px 0px rgba(144, 19, 254, 0.56);
 
            box-shadow: 0px 4px 25px 0px rgba(144, 19, 254, 0.56);

    margin: auto;
    border:0;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    -moz-transform: scale(1.02, 1);
    -webkit-transform: scale(1.02, 1);
    -ms-transform: scale(1.02, 1);
    outline: none;
    -webkit-transition: background 1s ease-out;  
    -o-transition: background 1s ease-out;  
    transition: background 1s ease-out;  
  }


  button#contact-submit:hover {
    border-radius: 8px;
    background: -webkit-gradient(linear, left top, right top, from(rgb(200, 109, 215) 0%, rgb(49, 35, 174) 100%), to(rgb(181,100,210)));
    background: -webkit-linear-gradient(left, rgb(200, 109, 215) 0%, rgb(49, 35, 174) 100% 100%);
    background: -o-linear-gradient(left, rgb(200, 109, 215) 0%, rgb(49, 35, 174) 100%);
    background: linear-gradient(90deg, rgb(200, 109, 215) 0%, rgb(49, 35, 174) 100%);
    background-position: 379px;
    -webkit-box-shadow: 0px 4px 25px 0px rgba(144, 19, 254, 0.56);
            box-shadow: 0px 4px 25px 0px rgba(144, 19, 254, 0.56);
            background-position: 379px;

    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    -moz-transform: scale(1.02, 1);
    -webkit-transform: scale(1.02, 1);
    -ms-transform: scale(1.02, 1);
    outline: none;
    cursor: pointer
    
  }

  
  button#contact-submit:active {

    -webkit-transform: scale(0.9);

        -ms-transform: scale(0.9);

            transform: scale(0.9);
    -webkit-transition: 0.2s ;
    -o-transition: 0.2s ;
    transition: 0.2s ;
  
    
  }