<div class="container">
    <div class="intro_section_box_wrapper">
        <div class="intro_section_box_items">
            <div class ="intro_section_box_welcome">
                <p>Welcome to <b>Codequest</b></p>
            </div>
            <div class="intro_section_box_images">
                <img class="intro-section_box_image1" src="/foto-03.png" alt="Code Questing"/>
                <img class="intro-section_box_image2" src="./foto-01.png" alt="Code Questing"/>
                <img class="intro-section_box_image3" src="./foto-02.png" alt="Code Questing"/>
            </div>
            <form id="contact" action="" method="post">
                <fieldset>
                    <input placeholder="Email Address" type="email" tabindex="1" required>
                </fieldset>
                <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Updating">Update Settings</button>
    </fieldset>
            </form>
        </div>

    </div>

</div>