---
_options:
  layout: app/static/layouts/main.static.hbs
  partials:
    - app/static/partials/application.static.hbs

meta:
  canonical: /
  title: Codequest email update statys.
  description: Codequest email update statys.
  name: Codequest email update statys
  locale: en_US
  determiner: ~
  type: ~
  image: /image.png
  audio: ~
  video: ~
  youtube: ~
  color: ~
  keywords:
    - brunch

  twitter:
    card: ~
    site: ~
    creator: ~
---
{{> application}}
